html {
  scroll-behavior: smooth;
}
#btn-back-to-top {
    position: fixed;
    display: none;
  }
.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        rgb(53, 79, 126) 15%,
        rgb(45, 68, 108) 35%,
        rgb(30, 45, 72) 75%,
        rgb(29, 43, 68) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        rgb(68, 102, 162) 15%,
        rgb(45, 68, 108) 35%,
        rgb(30, 45, 72) 75%,
        rgb(28, 43, 69) 80%,
        transparent 100%);
  }
  .preloader {
     border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #0364a5; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
  }
