@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;100;600;700&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    overflow: auto;
    height: 100vh;
    background-color: #c5d3e6;
    font-family: 'Open Sans', sans-serif;

    display: grid;
    grid-template-rows: 40px 1fr 40px;
    grid-gap: 10px;
}
main{
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-gap: 10px;
    background-color: #ebebeb;
    box-shadow:  20px 20px 70px #868686,
               -20px -20px 70px #ffffff;
}
main nav{
    position: relative;
    margin-top: 80px;
}
main nav ul.nav-menu{
    list-style: none;
    text-align: center;
}
main nav ul.nav-menu li.menu-item:not(:last-child) {
    margin-bottom: 10px;
}
main nav ul.nav-menu li.menu-item a {
    font-size: 14px;
    text-decoration: none;
    padding: 20px 10px;
    color: #000;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
main nav ul.nav-menu li.menu-item a:hover{
    box-shadow:  2px 2px 5px #d5d5d5,
                 -2px -2px 5px #f0f0f0;

}
main nav ul.nav-menu li.menu-item a:active{
    box-shadow:  inset 5px 5px 5px #d5d5d5,
                 inset -5px -5px 5px #f0f0f0;
}
main article{
    display: grid;
    grid-template-rows: 120px 520px 80px;
}
main article header{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main article header .logo{
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}
main article header .logo img{
    margin-right: 5px;
    max-width: 25%;
    height: auto;
}
main article header .logo i{
   font-size: 3px;
}
main article header .mobile{
    height: 70px;
    display: flex;
    align-items: center;
    line-height: 25px;
    font-size: 20px;
    font-weight: normal;
}
main article section{
    grid-template-columns: repeat(2, 1fr);
    max-height: 500px;
}
main article section.home{
    display:grid;
}
main article section.service{
    display:none;
}
main article section.team{
    display:none;
}
main article section.location{
    display:none;
}

main article section figure{
    padding: 50px 30px;
    height: 450px;
    width: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
main article section figure h1{
    font-size: 50px;
    line-height: 140%;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 40px;
}
main article section figure p{
    font-size: 25px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 50px;
}
main article section figure button.btn-action{
    position: relative;
    width: 160px;
    padding: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    background-color: transparent;
    color: #EF9A9A;
    cursor: pointer;
    margin-left:50px;
    box-shadow:   5px 5px 5px #d5d5d5,
                -5px -5px 5px #f0f0f0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main article section figure button.btn-action:hover{
    box-shadow:  10px 10px 30px #bebebe,
                 -10px -10px 30px #ffffff;
}
main article section figure button.btn-action:active{
    box-shadow:  inset 5px 5px 5px #d5d5d5,
                 inset -5px -5px 5px #f0f0f0;
}
main article section figure button.btn-action i{
    font-size: 36px;
    margin-left: 15px;
}
main article section .player{
    padding: 10px 5px;
    height: 500px;
    width: 500px;
    display: flex;
}
main article footer .mouse-icon{
    color: #b6b6b6;
    visibility: inherit;
    transform-origin: 50% 50%;
    font-size: 30px;
    position:absolute;
    bottom: 7%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
    cursor: pointer;
}
@keyframes bounce {
    from {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
}
}
main aside{
    margin: 50px 0;
    display:flex;
}
main aside ul.social-list{
    list-style: none;
    align-self: end;
}
main aside ul.social-list li.social-item{
    font-size: 22px;
    line-height: 32px;
    color: #b6b6b6;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
footer p{
    font-size: 12px;
    color: #575757;
    display:flex;
    justify-content: center;
}